<h1>Editing order</h1>

<%= render 'form' %>

<%= link_to 'Show', @order %> |
<% if @user.user_type == 1%>
	<%= link_to 'Back', orders_path %>
<% else %>
	<%= link_to 'Back',userorders_path%>
<%end%>
