<h1>Editing product</h1>

<%= form_tag({:action => 'update'}, :multipart => true) %>

	<%= render :partial => 'form' %>	
</form>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
