

  .policy{font-family:Tahoma; font-size:11px;  color:#FFFFFF; text-decoration:none }
  .main{font-family:Tahoma; font-size:11px;  color:#848484; line-height:13px}
  .orange{font-family:Tahoma; font-size:11px;  color:#FF7E00;}
  .blue{font-family:Tahoma; font-size:11px;  color:#378BFF;}
  .blue_10{font-family:Tahoma; font-size:10px;  color:#539BFF;}



  #input{
  		width:198px; height:15px;
		border-width:1px;
		border-style:solid;
		background-color:#EDF4FF;
		border-color:#99B8E2; font-weight:900

		}
		 
		
	  #textarea{
  		width:198px; height:75px;
		border-width:1px;
		border-style:solid;
		background-color:#EDF4FF;
		border-color:#99B8E2;
		overflow:auto; font-weight:900
		}


 






 




